<div class="Navbar">
    <div>
        <a class="HomeButton" href="/">
            Twitter Clone
        </a>
    </div>
    <div class="Auth">
        {{#if currentUser}}
        <a class="NewPostButton" href="/users/{{currentUser.username}}">Profile</a>
        <a class="NewPostButton" href="/posts/new" >New Post</a>
        <a href="/logout">Logout</a>
        {{else}}
        <a href="/login">Login</a>
        <a href="/sign-up">Sign Up</a>
        {{/if}}
    </div>
</div>