<div class="Form-Container">
    <form class="Form-Content" action="/sign-up" method="post">
        <h1 class="Form-Title">Sign Up</h1>
        <div class="Label-Input">
            <label for="username">Username</label>
            <input
                type="text"
                name="username"
                class="post-input"
                id="username"
                placeholder="Johnny-Appleseed"
            />
        </div>
        <div  class="Label-Input">
            <label for="password">Password</label>
            <input
                type="password"
                name="password"
                class="post-input"
                id="password"
                placeholder="........."
            />
        </div>
            <button
                type="submit"
                class="submit-button"
            >Enter!</button>
        </div>
    </form>
</div>